// Bootstrap Framework.
@import 'bootstrap';
// Base-theme overrides.
@import 'overrides';
// Bootswatch overrides.
@import 'variables';
@import 'bootswatch';

@brand-dark-green: #19826d;
@brand-violet: #9b59b6;
@brand-yellow: #f1c40f;

.label-violet {
  background-color: @brand-violet;
}

.label-yellow {
  background-color: @brand-yellow;
}

.rir-top-banner {
  display: none;
}

@media (max-width: @screen-md-min) {
  //Mobile devices
  a.logo > img {
    height: 45px;
    width: auto;
  }

  ul.nav-mobile-primary > li {
    display: table-cell;
    width: 1%;
    float: none;
    a {
      border-radius: 4px 4px 0 0;
      text-align: center;
    }
  }

  div.view-adverts > div.view-filters {
    display: none;
  }
}

@media (min-width: @screen-md-min) {

  div.main-container {
    margin-top: 180px;
  }

  body.toolbar-tray-open > div.main-container {
    margin-top: 105px;
  }

  .rir-top-banner {
    display: block;
    background-color: white;
  }

  ul.nav-pills > li > a {
    border-radius: 4px 4px 0 0;
  }

  //.super-main{
  //  margin-top: 165px;
  //  .rir-search-bar{
  //    padding: 20px;
  //    background: @gray-lighter;
  //  }
  //}
  header > .container > .navbar-header {
    display: none;
  }
}

div.view-adverts > div.view-content > div.media-object > div.media {
  padding-bottom: 10px;
  border-bottom: @brand-primary 2px solid;
  div.media-body > .media-heading > a:hover{
    text-decoration: none;
    color: @brand-dark-green;
  }
  div.pull-left{
    height: 90px;
    line-height: 90px;
    width: 90px;
  }
}

#block-advertsprimarymenu {
  margin-bottom: 10px;
}

nav#block-advertssecondarymenu > ul.nav-pills, nav#block-buyadvertssecondarymenu > ul.nav-pills {
  font-size: 13px;
  li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    a {
      padding: 8px 10px;
    }
  }
}

nav#block-advertsprimarymenu {
  border-bottom: @brand-dark-green 2px solid;
  ul.nav-pills {
    li > a {
      color: @brand-primary;
      span.badge {
        color: white;
        background-color: @brand-dark-green;
      }
    }

    li.active > a {
      color: white;
      background-color: @brand-dark-green;
      span.badge {
        color: @brand-dark-green;
        background-color: white;
      }
    }
  }
}

#block-advertssecondarymenu, #block-buyadvertssecondarymenu {
  border-bottom: @brand-primary 2px solid;
}

div.view-adverts {
  margin-top: 15px;
}

div.advert-summary-block{
  .panel-heading{
    text-align: center;
  }

  ul{
    font-size: smaller;
    li{
      padding: 5px;
    }
    li.advert-views-count{
      background: @gray-lighter;
      color: @brand-danger;
      font-weight: bold;
    }
  }
}

div.intl-tel-input{
  width: 100%;
}

div.agent-block-summary{
  div.group-left{
    width: 20%;
  }
  div.group-right{
    width: 80%;
    div.field > .agent-block-title{
      margin-top: 0;
    }
  }
}

section#block-views-block-adverts-block-ads-per-agent > .block-title{
  text-align: center;
}

section#block-request-details-webform{
  .block-title{
    text-align: center;
  }
  div > form > div.form-actions {
    margin-bottom: 0;
  }
}
.page-header{
  margin-bottom: 0;
}

.ref-number{
  color: #95a5a7;
}

.rir-pricing-plan{
  text-align: center;
  .panel-heading{
    font-size: x-large;
  }
  .rir-pricing-price{
    font-weight: bolder;
    font-variant: small-caps;
    font-size: xx-large;
    background-color: @gray-lighter;
  }
}