// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// Bootswatch overrides.
@import 'variables';
@import 'bootswatch';

.rir-top-banner{
  display: none;
}

@media (min-width: @screen-md-min){
  .rir-top-banner{
    display: block;
    background-color: white;
  }
}