// Bootstrap Framework.
@import 'bootstrap';

// Base-theme overrides.
@import 'overrides';

// Bootswatch overrides.
@import 'variables';
@import 'bootswatch';

@brand-violet:          #9b59b6;
@brand-yellow:          #f1c40f;

body{
  margin-top: 180px;
}

.label-violet{
  background-color: @brand-violet;
}

.label-yellow{
  background-color: @brand-yellow;
}


.rir-top-banner{
  display: none;
}

@media (min-width: @screen-md-min){
  .rir-top-banner{
    display: block;
    background-color: white;
  }

  ul.nav-pills > li > a{
    border-radius: 4px 4px 0 0;
  }

  //.super-main{
  //  margin-top: 165px;
  //  .rir-search-bar{
  //    padding: 20px;
  //    background: @gray-lighter;
  //  }
  //}

  header > .container > .navbar-header{
    display: none;
  }
}

div.view-adverts > div.view-content > div.media-object > div.media{
  padding-bottom: 10px;
  border-bottom: @brand-primary 2px solid;
}

#block-advertsprimarymenu{
  margin-bottom: 10px;
}

nav#block-advertssecondarymenu > ul.nav-pills {
  font-size: 13px;
  li{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
     a{
       padding: 8px 10px;
     }
  }
}

#block-advertssecondarymenu, #block-advertsprimarymenu{
  border-bottom: @brand-primary 2px solid;
}

div.view-adverts{
  margin-top: 15px;
}

form#views-exposed-form-adverts-page-adverts-all > div.form-inline > div#edit-actions{
  width: 116px;
  button{
    width: 100%;
  }
}