{#
/**
 * @file
 * Default theme implementation to standard AddToAny buttons.
 *
 * Available variables:
 * - addtoany_html: HTML for AddToAny buttons.
 *
 * @ingroup themeable
 */
#}
<div class="well well-sm" id="share-buttons-id">
    <strong>Share:</strong> {{ addtoany_html|raw }} <a class="a2a_button_facebook"></a>
</div>